extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style 
        include style.css

block content 
    section#introsection 
        div  Welcome to the Dance academy 
        div.small Enjoy your dance life.

    section#missionsection
        h2 Our Mission  
        div.card
            h3 Dancer perfection 
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content    
                    p This is the best dance academy
        div.card
            h3 Gruop Dance
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content    
                    p This is the best dance academy  
        div.card
            h3 Expert Teaching 
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content    
                    p This is the best dance academy  

    section#sponsorssection
        h2 Our Sponsers 
        div#sponsers
            img(src="/static/img/logo1.png" ,alt="sponsers image" Class="spimage")
            img(src="/static/img/logo2.png" ,alt="sponsers image" Class="spimage")
            img(src="/static/img/logo3.png" ,alt="sponsers image" Class="spimage")
            img(src="/static/img/logo4.png" ,alt="sponsers image" Class="spimage")   